$primary-dark: #050f3f;       // Azul mais escuro  
$primary-normal: #0b1e53;     // Azul escuro (primário)
$primary-light: #3B5BDB;     // Azul mais claro

$secondary-normal: #D1BFA3;  // Bege médio
$secondary-dark: #A68A6B;    // Bege escuro
$secondary-light: #E7D7C1;   // Bege claro

$black-normal: #4B4B4B;  // Preto médio
$black-dark: #1F1F1F;    // Preto escuro
$black-light: #8C8C8C;   // Preto claro

$white-normal: #FFFFFF;  // Branco puro
$white-dark: #F0F0F0;    // Branco sujo (quase branco)
$white-light: #E0E0E0;   // Branco mais escuro

$red-normal: #ff3e2d;  // Vermelho médio
$red-dark: #d64933;    // Vermelho escuro
$red-light: #da524d;   // Vermelho claro